

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.offcanvas{background: rgba(245, 245, 245,1);  border-radius: 15px; border-top-left-radius: 15; }
.offcanvas-header{h5{ font-family: bold; font-size: 1.3em; text-transform: capitalize;}}

.offcanvas-body{ display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
          .flex-container{ width: 100%; justify-content: center;
                    display: flex; gap: 1em;
                    a{border: 2px solid blue;  text-align: center;
                    padding: 0.7em .1em; border-radius: 5px;
                    width: 40%;
                    color: blue;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-family: 'light';
                    .link-icon{margin-left: 0.3em; margin-top: -0.3em;}
                    }

          }
          h2{align-self: flex-start; font-family: 'black'; font-size: 1.3em; }
          p{font-family: 'medium'; font-size: 1.25em; line-height: 1.2em; }
}

.flex-container a:hover{text-decoration: underline;}




/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
          .offcanvas{border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
